<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <input type="text" placeholder="enter number" id="n1">
    <input type="text" placeholder="enter your limit" id="n2">
    <button onclick='newfun()'>click</button> -->
    <input type="text" id="n1" placeholder="enter number">




</body>
<script>
    // function newfun() {
    //     a = number(document.getElementById('n1 ').value)
    //     b = number(document.getElementById('n2 ').value)
    //     for (i = 0; i <= b; i++) {
    //         c = i * a;
    //         // document.write("<br>")
    //         document.write(i + "x" + a + "=" + c)


    //     }

    // }

    function sum(x, y, z) {

        sum = x + y + z
        console.log(sum)
        return sum


    }

    function avg(res) {

    }
</script>

</html>